:root {
--color-hover: #FFFFFF;
--color-background-hover: #2196F3;  
--color-background-hover-button: #F5F4FA; 
}
body {
    background-color: var(--color-hover);
    font-family: Roboto, sans-serif;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;   
}
nav {
    list-style-type: none;
}
span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3; 
    text-decoration: none;   
}
ul {
    list-style-type: none;
}
.header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121; 
    text-decoration: none;      
}
.header:hover, :focus {
    color: #2196F3;
}
.mail {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-hover);  
    text-decoration: none;   
}
.mail:hover, :focus {
    color: #2196F3;
}
.phone {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;  
    text-decoration: none;   
}
.phone:hover, :focus{
    color: #2196F3;   
}
.slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;    
    background-color: #2F303A;   
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #212121;
    background-color: #F5F4FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    cursor: pointer; 
    font-family: inherit;
} 
.button:hover, :focus {
    color: var(--color-hover);
    background-color: var(--color-background-hover); 
}
.visually-hidden:hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 
.subtitle {
    font-weight: 700;
    line-height: 1.14px;
    color: #212121;   
}
.tagline {
    font-weight: 400;
    line-height: 1.71;
    color: #757575; 
}
.subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: #212121;   
}
.team {
    background-color: #F5F4FA;;
}
.adress {
    font-weight: 400;
    line-height: 1.71;
    color:  #FFFFFF;
    text-decoration: none;  
    font-style: normal;
}
.adress:hover, :focus {
    color: var(--color-background-hover);
}
.information {
    background-color: #2F303A;
}
.footer {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    text-decoration: none;       
}
.all {
    background-color: var(--color-background-hover-button);
    border-radius: 4px;  
    cursor: pointer; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-family: inherit;
}
.web {
    background-color: var(--color-background-hover-button);
    border-radius: 4px;  
    cursor: pointer; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-family: inherit;    
}
.app {
    background-color: var(--color-background-hover-button);
    border-radius: 4px;  
    cursor: pointer; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-family: inherit;
}
.dizayn {
    background-color: var(--color-background-hover-button);
    border-radius: 4px;  
    cursor: pointer; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-family: inherit;
}
.marketing {
    background-color: var(--color-background-hover-button);
    border-radius: 4px;  
    cursor: pointer; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-family: inherit;
}
.all:hover,:focus {
    background-color: var(--color-background-hover);
    color: var(--color-hover);
}
.web:hover,:focus {
    background-color: var(--color-background-hover);
    color: var(--color-hover);    
}
.app:hover,:focus {
    background-color: var(--color-background-hover);
    color: var(--color-hover);
}
.dizayn:hover,:focus {
    background-color: var(--color-background-hover);
    color: var(--color-hover);
}
.marketing:hover,:focus {
    background-color: var(--color-background-hover);
    color: var(--color-hover);
}
